<footer>
  <div class="containerFooter">
    <div class="logo-icon">
      <img src="/images/exLogo.png" alt="Icone Petshop DH">
    </div>
    <div class="footerLinks">
      <a href="">Contato</a>
      <a href="">Quem Somos</a>
      <a href="">FAQ</a>
    </div>
  </div>
</footer>




</body>
</html>