<header>
  <div class="container">
    <a class="logo" href="/">
      <img class="logoImage" src="/images/exLogo.png" alt="REConnect" />
    </a>
    <nav>
      <ul>
        <li>
          <a href="/login">Entrar</a>
        </li>
        <li>
          <a href="/cadastro">Cadastrar</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
