<%- include('./partials/head') %>
<%- include('./partials/header') %>


<h1> Contato </h1>
<main>
    <section class="esquerda">
        <div class="suas-series">
            <h1>Sua Lista</h1>
            <div class="caixas">
                <div class="series">
                    <p>Série 1</p>
                </div>
                <div class="series">
                    <p>Série 2</p>
                </div>
                <div class="series">
                    <p>Série 3</p>
                </div>
            </div>
            
        </div>
        <div class="estatisticas">
            <h1>Estatísticas</h1>
        </div>
        
    </section>
    <section class="centro">
        <section class="contato">
            <div>
                <h1>Contato</h1>
                <label for="nome">Nome:</label>
                <input required="required" type="text" id="nome" name="nome" placeholder="Digite seu nome">
                <label for="email">E-mail:</label>
                <input required="required" type="email" id="email" name="email" placeholder="Digite seu e-mail">
                <label for="mensagem">Deixe sua mensagem:</label>
                <textarea name="mensagem" id="mensagem" cols="20" rows="5"></textarea><br>
                <button type="submit">Enviar</button>
            </div>
        </section>
    </section>
    <section class="direita">
        <div class="recomendacoes">
            <h1>Recomendações</h1>
            <div class="caixas">
                <div class="series">
                    <p>Recomendações 1</p>
                </div>
                <div class="series">
                    <p>Recomendações 2</p>
                </div>
                <div class="series">
                    <p>Recomendações 3</p>
                </div>
            </div>
        </div>
        <class class="pessoas">
            <h1>Pessoas</h1>
            <div class="pess">
                    <p>P1</p>
                    <p>P2</p>
                    <p>P3</p>
                    <p>P4</p>                       
                </div>
            </class>
    </section>
    
</main>

<%- include('./partials/footer') %>