<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section>
    <h1>Suas estatísticas</h1>
    <div>
        <h3>Filmes</h3>
        <p>Número de filmes assistidos</p>
        <p>X horas assistidas</p>
        <p>X horas para assistir toda lista</p>
    </div>
    

   
    
  </section>
</main>

<%- include('./partials/footer') %>
