<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="esquerda">
    <div class="suas-series">
      <h1>Sua Lista</h1>
      <div class="caixas">
        <div>
          <img src="/images/em-alta-eternos.jpeg" alt="" />
        </div>
        <div>
          <img src="/images/em-alta-duna.jpeg" alt="" />
        </div>
        <div>
          <img src="/images/em-alta-gucci.jpeg" alt="" />
        </div>
        <a href="">Ver mais</a>
      </div>
    </div>
    <div class="estatisticas">
      <h1>Estatísticas</h1>
    </div>
  </section>
  <section class="centro-home">
    <h1>PÁGINA INICIAL</h1>
    <a href="/criar">Criar um post</a>
    <div class="estrelas">
      <img src="/images/avatar-1.jpeg" alt="Perfil" />
      <p>fulano deu 5 estrelas</p>
      <img src="/images/starwarsbom.png" alt="" />
      <p>"Excelente filme, super recomendo, melhor filme</p>
      <a href="">Adicionar a minha lista</a>
    </div>
    <div class="em-alta">
      <h2>em alta</h2>
      <div class="em-alta-images">
        <a href="/pagina-filme"
          ><img src="/images/em-alta-aranhaverso.jpeg" alt=""
        /></a>
        <img src="/images/em-alta-caca-fantasma.jpeg" alt="" />
        <img src="/images/em-alta-duna.jpeg" alt="" />
        <img src="/images/em-alta-eternos.jpeg" alt="" />
      </div>
    </div>
  </section>
  <section class="direita">
    <div class="recomendacoes">
      <h1>Recomendações</h1>
      <div class="caixas">
        <div class="series">
          <img src="/images/em-alta-venon.jpeg" alt="" />
        </div>
        <div class="series">
          <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
        </div>
        <div class="series">
          <img src="/images/em-alta-homem-aranha.jpeg" alt="" />
        </div>
        <a href="">Ver mais</a>
      </div>
    </div>
    <div class="pessoas">
      <h1>Pessoas</h1>
      <div class="pess">
        <img src="/images/avatar-1.jpeg" alt="" />
        <img src="/images/avatar-2.png" alt="" />
        <img src="/images/avatar-3.jpeg" alt="" />
        <img src="/images/avatar-4.jpg" alt="" />
      </div>
    </div>
    <a href="">Ver mais</a>
  </section>
</main>
<%- include('./partials/footer') %>
