<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="centro-home">
    <h1>Title film</h1>
    <div class="filme">
      <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
      <div class="movie">
          <h3>Informações do Filme</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur quos eveniet ex aliquam saepe quam. Aperiam cum velit similique possimus recusandae, harum omnis, repellat magnam veniam beatae aliquid dignissimos maiores.</p>
       <h3>Sinopse</h3>
          <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga
          cumque, reprehenderit distinctio, enim non, aliquam a sint eaque
          suscipit nobis neque unde vitae? Non tempore dolore ab vitae suscipit!
        </p>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SS6ABPkfmBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <a href="">Adicionar a minha lista</a>
        <a href="">Marcar como assistido</a>
    </div>
    <div>
        <h3>Comentários</h3>
        <div>
            <a href="">Adicionar comentário</a>
            <img src="/images/avatar-1.jpeg" alt="">
            <h3></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa numquam perferendis labore accusantium officia enim voluptatum voluptatibus, error recusandae veniam quidem ut velit tempora ipsam ad animi. Libero, eaque fugiat.</p>    
        </div>
        <div>
            <img src="/images/avatar-2.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa numquam perferendis labore accusantium officia enim voluptatum voluptatibus, error recusandae veniam quidem ut velit tempora ipsam ad animi. Libero, eaque fugiat.</p>    
        </div>
        </div>
  </section>
</main>
<%- include('./partials/footer') %>
