<%- include('./partials/head') %>
<%- include('./partials/header') %>
    <main>
        <section>
            <h1>Posts</h1>
        </section>
    </main>
    
    <%- include('./partials/footer') %>