<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="centro">
    <h1>Lista de Posts</h1>
    <div>
      <h2>Meus posts</h2>
      <p>fulano deu 5 estrelas</p>
      <img src="/images/starwarsbom.png" alt="" />
      <p>"Excelente filme, super recomendo, melhor filme</p>
    </div>
    <div class="lista">
      <h2>Minha lista</h2>
      <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
      <img src="/images/em-alta-caca-fantasma.jpeg" alt="" />
      <img src="/images/em-alta-duna.jpeg" alt="" />
      <img src="/images/em-alta-eternos.jpeg" alt="" />
    </div>
    <div>
      <h2>Recomendações</h2>

      <img src="/images/em-alta-venon.jpeg" alt="" />

      <img src="/images/em-alta-aranhaverso.jpeg" alt="" />

      <img src="/images/em-alta-homem-aranha.jpeg" alt="" />
    </div>
    <div>
      <h2>Seguidores</h2>

      <img src="/images/avatar-1.jpeg" alt="" />
      <img src="/images/avatar-2.png" alt="" />
      <img src="/images/avatar-3.jpeg" alt="" />
      <img src="/images/avatar-4.jpg" alt="" />
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
